<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th>NOME DO CLIENTE</th>
      <th>PARTE CONTRÁRIA</th>
      <th>TIPO DE AÇÃO</th>
      <th>GRUPO DE AÇÃO</th>
      <th>FASE PROCESSUAL</th>
      <th>NÚMERO DO PROCESSO</th>
      <th>PROCESSO ORIGINÁRIO</th>
      <th>TRIBUNAL</th>
      <th>VARA</th>
      <th>COMARCA</th>
      <th>PROTOCOLO</th>
      <th>EXPECTATIVA/VALOR DA CAUSA</th>
      <th>VALOR HONORÁRIOS</th>
      <th>PASTA</th>
      <th>DATA CADASTRO</th>
      <th>DATA FECHAMENTO</th>
      <th>DATA TRANSITO</th>
      <th>DATA ARQUIVAMENTO</th>
      <th>DATA REQUERIMENTO</th>
      <th>RESPONSÁVEL</th>
      <th>ANOTAÇÕES GERAIS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Campo livre</td>
      <td>Campo livre</td>
      <td>Campo livre</td>
      <td>Campo livre</td>
      <td>Atendimento, Judicial, Administrativo, Arquivamento, Recursal, Execução/cobrança, Consultoria, RH/Financeiro, Marketing</td>
      <td>0000000-00.0000.0.00.0000</td>
      <td>Sigla do tribunal</td>
      <td>Campo livre</td>
      <td>Campo livre</td>
      <td>Campo livre</td>
      <td>Campo livre</td>
      <td>210.05</td>
      <td>210.05</td>
      <td>Campo livre</td>
      <td>dd/mm/aaaa</td>
      <td>dd/mm/aaaa</td>
      <td>dd/mm/aaaa</td>
      <td>dd/mm/aaaa</td>
      <td>dd/mm/aaaa</td>
      <td>Precisa estar cadastrado como usuário ou ficar em branco</td>
      <td>Campo livre</td>
    </tr>
    <tr>
      <td>*obrigatório</td>
      <td></td>
      <td>*obrigatório</td>
      <td>*obrigatório</td>
      <td>*obrigatório</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>